In [46]:
using JMcDM

In [47]:
using DataFrames

In [48]:
df = DataFrame(
    criterion1 = [1.0, 2.0, 3.0, 4.0],
    criterion2 = [2.0, 3.0, 1.0, 4.0],
    criterion3 = [4.0, 3.0, 1.0, 2.0]
)

4×3 DataFrame
 Row │ criterion1  criterion2  criterion3
     │ Float64     Float64     Float64
─────┼────────────────────────────────────
   1 │        1.0         2.0         4.0
   2 │        2.0         3.0         3.0
   3 │        3.0         1.0         1.0
   4 │        4.0         4.0         2.0

In [49]:
w = [0.3, 0.3, 0.4]

3-element Vector{Float64}:
 0.3
 0.3
 0.4

In [50]:
fns = [maximum, maximum, maximum]

3-element Vector{typeof(maximum)}:
 maximum (generic function with 13 methods)
 maximum (generic function with 13 methods)
 maximum (generic function with 13 methods)

In [51]:
topsis(df, w, fns)

Scores:
Any[0.5334828131703736, 0.5720541556753176, 0.2817290466902531, 0.6251463814648187]
Best indices:
4

In [52]:
saw(df, w, fns)

Scores:
[0.625, 0.675, 0.4, 0.8]
Ordering:
[4, 2, 1, 3]
Best indices:
4

In [53]:
aras(df, w, fns)

Scores:
Any[0.625, 0.6749999999999999, 0.39999999999999997, 0.7999999999999999]
Orderings:
[3, 1, 2, 4]
Best indices:
4

In [54]:
copeland(df, w, fns, [TopsisMethod(), SawMethod(), ArasMethod(), WaspasMethod(), MooraMethod()])

4×6 DataFrame
 Row │ Aras   Moora  Saw    Topsis  Waspas  Copeland
     │ Int64  Int64  Int64  Int64   Int64   Int64
─────┼───────────────────────────────────────────────
   1 │     2      3      2       2       2         1
   2 │     3      1      3       3       3        -1
   3 │     1      4      1       1       1         3
   4 │     4      2      4       4       4        -3

In [55]:
critic_result = critic(df, fns)

Weights:
[0.375, 0.21875000000000006, 0.40625]

In [56]:
copeland(df, critic_result.w, fns, [TopsisMethod(), SawMethod(), PSIMethod()])

4×4 DataFrame
 Row │ Psi    Saw    Topsis  Copeland
     │ Int64  Int64  Int64   Int64
─────┼────────────────────────────────
   1 │     2      2       2         1
   2 │     3      3       3        -1
   3 │     1      1       1         3
   4 │     4      4       4        -3